<!DOCTYPE html>
<html>
<head>
    <title>College Predictor</title>
    <link rel="stylesheet" href="/static/predict.css">
</head>
<body>
    <div class="flashit">
        
        <div class="navbar">
            <div style="display: flex; justify-content:flex-start;align-items: center; padding-left: 100px;">
                <a href="/home/"><img src="/static/logo.PNG" alt="" width="70px" height="70px" style="border-radius:5px;"></a>
               
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center;padding-right: 100px;">
                {% if user.is_staff %}
                <a href="/add_college/" style="padding-right: 10px;"><b style="color: white;">Add College</b></a>
                {% endif %}
                <a href="/get_rank/" style="padding-right: 10px;"><b style="color: white;">Check College</b></a>
                <a href="/all_college/" style="padding-right: 20px;"><b style="color: white;">College List</b></a>
                <button><a href="/logout/"><b>Logout</b></a></button>
            </div>
        </div>
        <div class="card">
            {% block body %}
            {% endblock %}
        </div>
    
    </div>
</body>
</html>