<!DOCTYPE html>
<html>
<head>
    <title>College Predictor</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
</head>
<body>
    <div class="container" style="min-height: 650px; display: flex;flex-direction: column;justify-content:left ;align-items: center;width: 100%;padding: 20px;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 1200px;margin-bottom: 20px;">
            
                <div>
                    <a class="navbar-brand" href="/home/">College Predictor</a>
                </div>
            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
                {% if user.is_staff %}
                
                <a class="nav-item nav-link active" href="/add_college/">Add College</a>
                {% endif %}
                <a class="nav-item nav-link active" href="/all_college/">CollegeList</a>
                <a class="nav-item nav-link active" href="/get_rank/">Check College</a>
                
                <a class="nav-item nav-link active" href="/logout/">Log Out</a>
                
                
              </div>
            </div>
            
          </nav>
        
        <div class="card" style="padding-top:10px; display: flex;justify-content: center;align-items: center;">
            <div class="card-body">
            {% block body %}
            {% endblock %}
        </div>
        </div>
    
    </div>
</body>
</html>