{% extends 'bootswatch.html' %}

{% block body %}
<table  class="table table-hover">
<thread>
    <tr class="table-primary">
        <th>College_Name</th>
        <th>College_ID</th>
        <th>Location</th>
        <th>About</th>
        
    </tr>
</thread>
    {% for clg in college_list %}
    <tr class="table-secondary">
        <td>{{clg.college_Name}}</td>
        <td>{{clg.college_ID}}</td>
        <td>{{clg.location}}</td>
        <td><a href="{{clg.about}}">Click Here</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}